.btn {
    width : 48px;
    height: 48px;
    background-color: #2699FB;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;

    /* 버튼을 div 로 구현했을 경우  */
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 12px;
    font-weight: bold;
}

/* 버튼을 클릭했을때 효과 */
.btn:active {
    background-color: #007FEB;
}

.btn-large {
    width: 100px;
    height: 48px;
}

.inp {
    box-sizing: border-box;
    outline: none;
    width: 204px;
    height: 48px;
    padding: 0 20px;
    color: #BCE0FD;
}

.inp:disabled {
    background-color: white;
    border: solid 1px #BCE0FD;
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 4px;
}